<%- include(`partials/header`)  -%> 
<h1>About</h1>
<p>Hi There i am an fullstack developer i have created this site with the help of </p>
<ul>
    <li>-> HTML-CSS-JS </li>
    <li>-> Node.js</li>
    <li>-> Express.js</li>
    <li>-> EJS</li>
    <li>-> Heroku</li>
</ul>
<p>I hope you liked your visit , and too see more similar works <a href="https://github.com/Surya-bbas">visit here</a></p>
    
    
<%- include(`partials/footer`)  -%>   